@use '../variables' as *;
@use '../mixins' as *;

.dashboard__menu {
  @include flex(center, center);
  gap: 20px;
  margin: 25px 0;

  .menu-item {
    position: relative;
    padding: 10px 18px;
    background: $brand;     // antes $primary
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;

    @include clickable;

    .menu-badge {
      position: absolute;
      top: -8px;
      right: -8px;
      background: $accent;   // antes $secondary
      padding: 4px 7px;
      border-radius: 50%;
      font-size: 12px;
      font-weight: bold;
      color: white;
    }

    &.active {
      background: darken($brand, 8%); // sutil opción para botón activo
    }
  }
}