@use '../variables' as *;
@use '../mixins' as *;

.dashboard__header {
  @include flex(space-between, center);
  padding: 10px 20px;
  background: $brand;
  border-bottom: 4px solid $bg;
  border-radius: 0 0 $radius $radius;

  .dashboard__title {
    font-size: 32px;
    font-weight: bold;
    color: $text;
  }

  .dashboard__user {
    @include flex(center, center);
    gap: 15px;

    .dashboard__user-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: lightgray;
      border: 2px solid $brand;
      object-fit: cover;
    }

    .dashboard__user-name {
      font-size: 20px;
      font-weight: bold;
      color: $text;
    }

    .dashboard__user-config {
      display: inline-block;
      font-size: 14px;
      color: white;
      @include clickable;
    }
  }
}