@use "../variables" as *;
@use "../mixins" as *;

.dashboard__menu {
  width: 100%;
  @include flex(center, center);
  gap: 20px;
  margin: 25px 0;

  &-list {
    @include flex(center, center);
    gap: 20px;
    list-style: none;
  }

  &-item {
    @include clickable;
  }

  &-link {
    position: relative;
    padding: 10px 18px;
    background: $brand;
    color: white;
    text-decoration: none;
    border-radius: $radius;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    transition: 0.25s ease;

    &:hover {
      background: darken($brand, 8%);
      transform: translateY(-2px);
    }
  }
}