@use '../variables' as *;
@use '../mixins' as *;

.dashboard__header {
  @include flex(space-between, center);
  padding: 10px 0;

  .dashboard__title {
    font-size: 32px;
    font-weight: bold;
    color: $text;
  }

  .dashboard__user {
    @include flex(center, center);
    gap: 15px;

    .dashboard__user-img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: lightgray;
      border: 2px solid $brand;  // <- $brand en lugar de $primary
      object-fit: cover;
    }

    .dashboard__user-name {
      font-size: 20px;
      font-weight: bold;
      color: $text;
    }

    .dashboard__user-config {
      display: inline-block;
      font-size: 14px;
      color: $brand;              // <- $brand en lugar de $primary
      @include clickable;
    }
  }
}