@use 'variables' as *;
@use 'mixins' as *;


@use "./components/dashboard";
@use "./components/dashboardHeader";
@use "./components/dashboardMenu";
@use "./components/card";

// Reset global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}