@use 'variables' as *;
@use 'mixins' as *;


@use "./components/dashboard";
@use "./components/dashboardHeader";
@use "./components/dashboardMenu";
@use "./components/card";
@use "./components/addGame";
@use "./components/detallesUsuario";

// Reset global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: $bg;
  font-family: $font-main;
}