@use 'variables' as *;
@use 'mixins' as *;

* { box-sizing: border-box; }
html, body, #root {
  height: 100%;
  font-family: $font-stack;
  background: $bg;
  color: $text;
}

a { color: inherit; text-decoration: none; }

@import './components/login';